<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.MCA">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_agua"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_agua"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoricoActivity"
            android:label="@string/label_historico"/>
        <activity
            android:name=".CursoresActivity"
            android:label="Cursores" />
        <activity
            android:name=".SegundaActivity"
            android:label="@string/label_escolha" />
        <activity
            android:name=".ConsultarActivity"
            android:label="@string/label_consultar" />
        <activity
            android:name=".ListaDispositivos"
            android:label="Dispositivos pareados"
            android:theme="@android:style/Theme.Dialog"/>

    </application>

</manifest>